/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: darkblue;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}



/* Grid */

#grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 2px dashed white;
}

.cell {
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    color: red;
    font-size: 32px;
    text-align: center;
}
.cell.safe {
    background-color: green;
    color: white;
}

.cell.bomb {
    background-color: red;
    color: white;
}

.cell.disabled {
    cursor: not-allowed;
}